<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/footer.css">
</head>
<body>

    <footer id="footer">
        <div class="hello">


            <div id="icon">
                &copy; shashankPant
            </div>
        
            <div id="links">
                <a href="/">Home</a>
                <a href="/user/profile/">Profile</a>
            </div>
        </div>
        

    </footer>
    
</body>
</html>