<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/public/css/header.css">
</head>
<body>
    <div id="mainhead">
        <div id="head">
            Codeial
        </div>
        <div id="contentt">
            <% if(locals.user){ %>
                <div id="user">
                    <p><a href="/user/profile"><%= user.name %></a></p>
                    <p><a href="/user/signout">Sign Out</a></p>
                </div>
            <%} else{%>
                <div id="userA">
                    <p><a href="/user/signin">Sign In</a></p>
                    <p><a href="/user/signup">Sign Up</a></p>
                </div>
            <% } %>
        </div>
    </div>



</body>
</html>