#footer {
    display: flex;  
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #866ca3;
    flex-direction: column;

    .hello {
        display: flex;
        margin: 10px;
        padding: 10px;
        justify-content: space-between;  // Add this to space out icon and links
        width: 100%; 
        
        #links {
            display: flex;
            gap: 20px;  
            
            a {
                color: white; 
                text-decoration: none;
                
                &:hover {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}




// #footer {
//     row-gap: 10px;
//     // justify-content: center; // Center content horizontally
//     // align-items: center;     // Center content vertically
//     width: 100vw;
//     background-color: #866ca3;
//     // flex-direction: column;

//         .hello{
//             display: flex;
//             margin: 10px;
//             padding: 10px;
//         }
    
// }

