<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>

    <% if(user){ %>
    <p>Hello:<%= user.name %></p>
    <p>Your email:<%= user.email %></p>
    <% }%>
</body>
</html>