<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>

    <p>This is the home pageeeeeeeee</p>

    <section id="feed-post">
        <h4>Posts</h4>
        <form action="" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3"></textarea>
            <input type="submit" value="Post">

        </form>
    </section>
    
</body>
</html>