<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>

    <% if(locals.user){ %> 
        <p><%= user.name %></p>

        <p> <a href="/user/signout">Sign Out</a> </p>
        
    <%} else{%>
        <p><a href="/user/signin">Sign In</a></p>

        <p><a href="/user/signup">Sign Up</a></p>
    <% } %>

</body>
</html>