<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
    <script src="https://kit.fontawesome.com/9b1d1fc326.js" crossorigin="anonymous"></script>
</head>
<body>
    <main id="Main">

        <section id="feed-post">
            <h4>Posts</h4>
            <!-- this local.user is used so that this particular form is visible only after the signin -->
            <% if(locals.user){%>
                <form action="/post/create" id="new-post-form" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="Type here"></textarea>
                    <input type="submit" value="Post">
                </form>
            <%}%>
    
    
    
    
    
        <div id="posts-list-container">
                <!-- the const post is the const we assign for posts or post or comment. this means we are using the post of the posts (this posts is from the indexController where its value is post which is equal to = await Post.find({})) so here generally we are find the post and from those post we write the content here. -->
        <% for(const post of posts){ %>
            <!-- "post" refers to your post.ejs file
            {post: post} is passing data to the included template where:
            The first post (before the colon) is the variable name that will be used in post.ejs
            The second post (after the colon) is the current post object from your loop -->
            <%- include("post", {post: post}) %>
    
        <%}%>
        </div>

        </section>
    
    
    
    
    
        <section id="all_users">
            <% if(locals.user){%>
                
                <h1>All the user list:-</h1>
                <% for(const user of users){%>
                <!-- here we changed the url so now we have to change the url from the routes also  -->
                <p><a href="/user/profile/<%= user.id%>"><%= user.name %></a></p> 
                <%}%>
                
            <%}%>
            
        </section>
    </main>

    <script src="/public/js/HomeIndex.js"></script>

    
</body>
</html>                                                                                  
