<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/public/css/signup.css">
</head>
<body>
    <div id="wow">
        <h1>Sign Up Page</h1>
        <form action="/user/create" method="POST">
            <!-- Match the names to the schema field names -->
            <input type="text" name="name" placeholder="Enter your name" required>
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <input type="password" name="CPassword" placeholder="Confirm password" required>
            <button>Sign Up</button>
        </form>

        <p><a href="/user/auth/google"> Google signin/signup</a></p>
    </div>
</body>
</html>
