#footer {
  display: flex;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #866ca3;
  flex-direction: column;
}
#footer .hello {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
}
#footer .hello #links {
  display: flex;
  gap: 20px;
}
#footer .hello #links a {
  color: white;
  text-decoration: none;
}
#footer .hello #links a:hover {
  text-decoration: none;
  color: #000;
}