<!-- views/mailers/signup.ejs -->
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .comment-container {
            background-color: #f4f4f4;
            border-radius: 5px;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div class="signup-container">
        <h2>New Signup Notification</h2>
        <p>Hello <%= user.name %>,</p>
        <p>Welcome You just signup to our App.</p>
        <div>
            <strong>User Details:</strong>
            <p>Name:<%= user.name %></p>
            <p>Email:<%= user.email %></p>

        </div>
        <p>Thank you for being part of our community!</p>
    </div>
</body>
</html>